<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/IRS.styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="width: 100%">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand me-4" 
                   asp-area="" 
                   asp-controller="" 
                   asp-action="/Home">IRS
                </a>
                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target=".navbar-collapse" 
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* Тук са разписани отделните роли на потребители и ще се доразпишат отделните страници които ще имаме за всеки тип потребител... *@
                       
                        @* Order *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Orders">Orders</a>
                        </li>
                        @* Product *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Product">Product</a>
                        </li>
                        @* StorageItem *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="StorageItems" asp-action="StorageItem">StorageItem</a>
                        </li>
                        @* Table *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="Table">Table</a>
                        </li>
                        @* ToGoOrder *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ToGoOrders" asp-action="ToGoOrders">ToGoOrders</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">
                                <i class="bi bi-box-arrow-in-right"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>
</body>
</html>
