.navbar-brand {
    white-space: nowrap;
    text-align: center;
    word-break: break-word;
    font-size: 1.25rem;
}

.navbar-nav .nav-link {
    color: #0077cc;
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
}

.navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.dropdown-menu .dropdown-item {
    font-size: 1rem;
    color: #333333;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #0077cc;
}

.navbar-nav .nav-link .bi-box-arrow-in-right {
    color: #0077cc;
}

.navbar-nav .nav-link:hover .bi-box-arrow-in-right {
    color: #0056b3;
}

.navbar-nav.ms-auto .nav-link {
    font-weight: bold;
    color: #333;
    font-size: 1.25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #0077cc;
    border-radius: 50%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}
